{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spproduct_body %}
    <h1>Fiche produit</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <table >
    <tr>
        <td>Produit</td>
        <td>{{ product.pdtname}}</td>
    </tr>

    <tr>
       <td>Type:</td>
       <td> {{ product.pdttype }} </td>
    </tr>

      <tr>
       <td>Description: </td>
       <td>{{product.pdtdesc}}</td>
    </tr>

    <tr>
        <td>Prix unitaire: </td>
        <td>{{product.pdtprice}} {{product.pdtcurrency}}</td>
    </tr>

    <tr>
        <td>Statut: </td>
        <td>{{product.pdtstate}} </td>
    </tr>

    </table><br>

    <pre>Creation on {{product.pdtdcre|date('d/m/Y')}} by {{product.pdtucre}}<br>Last update on {{product.pdtdupd|date('d/m/Y')}} by {{product.pdtuupd}}</pre>

    <a href="{{ path('sp_product_edit', {'id': product.id}) }}">Mettre à jour </a>
    {% endblock %}
