{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spproduct_body %}
    <h1>Fiche produit</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <table >
    <tr>
        <td>Produit</td>
        <td>{{ product.name}}</td>
    </tr>

    <tr>
       <td>Type:</td>
       <td> {{ product.type }} </td>
    </tr>

      <tr>
       <td>Description: </td>
       <td>{{product.desc}}</td>
    </tr>

    <tr>
        <td>Prix unitaire: </td>
        <td>{{product.price}} {{product.currency}}</td>
    </tr>

    <tr>
        <td>Statut: </td>
        <td>{{product.state}} </td>
    </tr>

    </table><br>

    <pre>Creation {{product.usrdcre|date('d/m/Y')}} by {{product.usrucre}}</pre>

    <a href="{{ path('sp_product_edit', {'id': product.id}) }}">Mettre à jour </a>
    {% endblock %}



