{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spcompany_body %}
    <h1>Fiche adherent</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <table >
    <tr>
        <td>Entite Numero:</td>
        <td>{{ company.id }}</td>
    </tr>

    <tr>
       <td>Nom complet:</td>
       <td> {{company.cpyname }}</td>
    </tr>

    <tr>
       <td>Forme Legale:</td>
       <td> {{company.cpylegalform }}</td>
    </tr>

    <tr>
       <td>Site Web:</td>
       <td> {{company.cpywebsite }}</td>
    </tr>

    <tr>
       <td>Numero Siren:</td>
       <td> {{company.cpysiren }}</td>
    </tr>

    <tr>
       <td>Numero Siret:</td>
       <td> {{company.cpysiret }}</td>
    </tr>

    <tr>
       <td>Numero TVA:</td>
       <td> {{company.cpytvanumber }}</td>
    </tr>

    <tr>
        <td>Membres enregistres </td>
        <td>
        <ul>
            {% for member in company.members %}
                <li>{{ member.usrfirstname}} {{member.usrlastname}}</li>
            {% endfor %}
        </ul>
        </td>
    </tr>


    </table><br>

    <pre>Creation on {{company.cpydcre|date('d/m/Y')}} by {{company.cpyucre}}<br>Last update on {{company.cpydupd|date('d/m/Y')}} by {{company.cpyuupd}}</pre>

    <a href="{{ path('sp_company_edit', {'id': company.id}) }}">Mettre à jour  / </a>
    <a class="delete company" href="{{ path('sp_company_delete', {'id': company.id}) }}">Supprimer </a>
    {% endblock %}

    {% block javascriptsrun %}
    {# Avant de supprimer une entree on demande une confiramtion. Sur la fonction unclick() on intercepte toute action. sur un click ok on dirige vers la suppression #}
    <script>
        $(".delete.company" ).click(function(event) {
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();
            if(window.confirm("Voulez-vous vraiment supprimer cet element?")){
               document.location="{{ path('sp_company_delete', {'id': company.id}) }}";
                }});
    </script>
    {% endblock %}
