{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Welcome back.</h4>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input type="text" id="username" class="form-control input-sm chat-input" placeholder="username" name="_username" value="{{ last_username }}" required="required" />
            <br />
            <input type="password"  class="form-control input-sm chat-input" placeholder="password" ="password" name="_password" required="required" />
            <br />
            <div class="wrapper">
            <span class="group-btn">
              <input type="submit" id="_submit" class="btn btn-primary btn-md" name="_submit" value="{{ 'submit'|trans({}, 'FOSUserBundle') }}" />
            </span>
            </div>
            </form>

            </div>

        </div>
    </div>
</div>

{% endblock fos_user_content %}
