{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spmember_body %}
    <h1>Fiche adherent</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <table >
    <tr>
        <td>Adherent Numero:</td>
        <td>{{ member.id }}</td>
    </tr>

    <tr>
       <td>Nom complet:</td>
       <td> {{member.usrlastname }} {{member.usrfirstname}}</td>
    </tr>

      <tr>
       <td>Date de naissance:</td>
       <td>{{member.usrbirthdate|date('d/m/Y')}}</td>
    </tr>

    <tr>
        <td>{{member.usrjobtype}}</td>
        <td>{{member.usrjobtitle}}</td>
    </tr>

     <tr>
       <td>Adresse mail:</td>
       <td>{{member.usrmail}}</td>
    </tr>

      <tr>
       <td>Site web:</td>
       <td>{{member.usrwebsite}}</td>
    </tr>
    <tr>
        <td>Entites</td>
        <td>
        <ul>
            {% for company in member.companies %}
                <li>{{ company.cpyName }}</li>
            {% endfor %}
</ul>
        </td>
    </tr>

    </table><br>

    <pre>Creation {{member.usrdcre|date('d/m/Y')}} by {{member.usrucre}}</pre>

    <a href="{{ path('sp_member_edit', {'id': member.id}) }}">Mettre à jour </a>
    {% endblock %}



