{% extends "SPMemberBundle::layout.html.twig" %}


   {% block spmember_body %}
    <h1>Fiche adherent</h1>
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <table >
    <tr>
        <td>Adherent Numero:</td>
        <td>{{ member.id }}</td>
    </tr>

    <tr>
       <td>Nom complet:</td>
       <td> {{member.mbrlastname }} {{member.mbrfirstname}}</td>
    </tr>

      <tr>
       <td>Date de naissance:</td>
       <td>{{member.mbrbirthdate|date('d/m/Y')}}</td>
    </tr>

    <tr>
        <td>{{member.mbrjobtype}}</td>
        <td>{{member.mbrjobtitle}}</td>
    </tr>

     <tr>
       <td>Adresse mail:</td>
       <td>{{member.mbrmail}}</td>
    </tr>

      <tr>
       <td>Site web:</td>
       <td>{{member.mbrwebsite}}</td>
    </tr>
    <tr>
        <td>Entites</td>
        <td>
        <ul>
            {% for company in member.companies %}
                <li>{{ company.cpyName }}</li>
            {% endfor %}
</ul>
        </td>
    </tr>

    </table><br>
    <pre>Creation {{member.mbrdcre|date('d/m/Y')}} by {{member.mbrucre}}</pre>
    <a href>Mettre à jour </a>
    {% endblock %}
