{% extends "SPMemberBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}

{% endblock %}

{% block sporderline_body %}


  <h2>Liste des commandes</h2>

  <ul>
    {% for orderline in listorderlines %}
      <li>
        <a href="{{ path('sp_orderline_view', {'id': orderline.id}) }}">
        Commande numero {{ orderline.id}} du
        {{orderline.odlDcre|date('d/m/Y')}}
        {{ orderline.member ? orderline.member.usrFirstname }}
        {{ orderline.member ? orderline.member.usrlastname }}
        {{ orderline.company ? orderline.company.cpyname }}
         </a>
      </li>

    {% else %}

      <li>Pas (encore !!!) de commandes</li>

    {% endfor %}

  </ul>


{% endblock %}
