{% extends "SPMemberBundle::layout.html.twig" %}


   {% block sporderline_body %}
    <h1>Commande Numero {{ orderline.id }}</h1>

    <br>
    <table>
    <tr>
        <td>
        {{orderline.odlInitialQty}} x {{orderline.product.pdtName}}
        </td>
    </tr>
    <tr>
        <td>
            Commande activee le            {{orderline.odlStartdate|date('d/m/Y')}}
        </td>
    </tr>
    <tr>
        <td>Quantite restante:</td>
        <td><b>{{orderline.odlPendingQty}}</b></td>
    </tr>
    </table>

    <a href="{{ path('sp_orderline_logging', {'id': orderline.id}) }}">      <b>Se logger</b></a>
    <br><br>

    <pre>Creation on {{orderline.odldcre|date('d/m/Y')}} by {{orderline.odlucre}}<br>Last update on {{orderline.odldupd|date('d/m/Y')}} by {{orderline.odluupd}}</pre>

    <a href="{{ path('sp_orderline_edit', {'id': orderline.id}) }}">Mettre à jour  /  </a>

    <a class="delete orderline" href="{{ path('sp_orderline_delete', {'id': orderline.id}) }}">Supprimer </a>
{% endblock %}

{% block javascriptsrun %}
{# Avant de supprimer une entree on demande une confirmation. Sur la fonction unclick() on intercepte toute action. Sur un click ok on dirige vers la suppression #}
<script>
    $(".delete.orderline" ).click(function(event) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
        if(window.confirm("Voulez-vous vraiment supprimer cette commande?")){
           document.location="{{ path('sp_orderline_delete', {'id': orderline.id}) }}";
            }
        });
</script>

    {% endblock %}

